<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Adicionar Procedimento</h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" required id="nome" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea name="descricao" required id="descricao" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="passos" class="form-label">Passos (um por linha)</label>
                    <textarea name="passos" id="passos" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoria/Área</label>
                    <input type="text" name="categoria" required id="categoria" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="fotos" class="form-label">Fotos</label>
                    <input type="file" accept="image/png, image/jpeg" multiple name="fotos" required id="fotos" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="submit" value="Adicionar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>