<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Adicionar Medicamento</h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="principioAtivo" class="form-label">Princípio Ativo</label>
                    <input type="text" name="principioAtivo" id="principioAtivo" required class="form-control">
                </div>
                <div class="mb-3">
                    <label for="nomeComercial" class="form-label">Nome Comercial</label>
                    <input type="text" name="nomeComercial" id="nomeComercial" required class="form-control">
                </div>
                <div class="mb-3">
                    <label for="classe" class="form-label">Classe</label>
                    <input type="text" name="classe" id="classe" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="via" class="form-label">Via de Administração</label>
                    <input type="text" name="via" id="via" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="diluicao" class="form-label">Diluição</label>
                    <input type="text" name="diluicao" id="diluicao" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="fotos" class="form-label">Fotos</label>
                    <input type="file" accept="image/*" multiple name="fotos" id="fotos" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="submit" value="Adicionar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>
