<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Adicionar Terminologia</h5>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="termo" class="form-label">Termo</label>
                    <input type="text" name="termo" required id="termo" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="definicao" class="form-label">Definição</label>
                    <textarea name="definicao" required id="definicao" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Adicionar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>
