<%- include('cabecalho', { pageClass: 'page-quiz-result' }) %>

<section class="page-hero">
    <div>
        
        <h2>Resultado</h2>
        <p>Confira seu desempenho no quiz.</p>
    </div>
</section>

<section class="app-card">
    <div class="text-center">

        <h3 class="mb-4">Seu Resultado</h3>

        <div class="mb-3">
            <h1><%= corretas %> Acertos</h1>
        </div>

        <div class="mb-4">
            <h1><%= total - corretas %> Erros</h1>
        </div>

        <a href="/quiz" class="btn btn-primary">
            Voltar ao Quiz
        </a>

        <a href="/home" href="/quiz" class="btn btn-primary">
            Home
        </a>

    </div>
</section>

